<div class="container">
    <section class="homeDecor">
        <div class="row" style="background-color: #fff;color: #fff;padding: 0px 0px 0px;">
            <div class="container text-left" >
                <h1 class="text-center" style="color:#00ACD7;">Apparel</h1>
            </div>
        </div>
        <hr style="border: 1px solid #000;">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3 col-lg-3"></div>
            <div class="col-sm-12 col-md-12 col-lg-6 col-lg-6">
                <div class="md-form">
                  <input type="text" id="searchProduct" class="form-control" style="width: 100%;margin: 0px auto 56px;" onkeyup="searchProd()">
                  <label for="searchProduct" style="margin: auto;width: 100%;right:0px;" class="searchProductClass"><i class="fas fa-search"></i> Search Product</label>
                </div>
            
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 col-lg-3"></div>
        </div>
        <script>
            function searchProd(){
                var searchEntry = $("#searchProduct").val();
                $("#apparelProductList .col-sm-12").each(function () {
                    if ($(this).find("p").text().search(new RegExp(searchEntry, "i")) < 0) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                });
            }
        </script>
        <div class="row" id="apparelProductList">
            <div class="preloader-wrapper big active" style="display:block;margin:0px auto;"> <div class="spinner-layer spinner-blue-only"> <div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div> </div><div class="circle-clipper right"><div class="circle"></div></div></div></div>
        </div>
    </section>
</div>


<!-- Modal -->
<div class="modal fade" id="productInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999;">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Product Information
            <span id="prodInfoLoading" style="display: none;font-size: 16px;color: #777;">-
                <div class="spinner-border" role="status" style="font-size: 7px;width: 20px;margin: 0px 10px;height: 20px;">
                    
                </div>Loading...
            </span>
          </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5" style="position: relative;">
                <img src="" id="thisProdImg" style="width:100%;">
                <img src="" id="thisProdArtImg" style="width:100%;display: none;">
                <img src="" id="thisProdBackArtImg" style="width:100%;display: none;">
                <div class="row" style="padding: 0px 15px;margin-bottom: 15px;" id="differentSides">
                </div>
                <p id="thisProdSku">SKU: <span style="color: #a1a1a1;font-size: 14px;"></span></p>
                <p id="thisProdType">Type: <span></span></p>
                <p id="thisProdPrice">Price: $<span></span></p>
            </div>    
            <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                <h4 id="thisProdName" style="font-size: 18px;"></h4>
                <p style="margin: 0px;color: #777;font-size: 10px;" id="thisProdId"></p>
                <hr>
                <div id="thisProdDesc" style="font-size: 14px;    line-height: 18px;"></div>
                
                <hr>
                <p style="margin: 0px;">Select Color:</p>
                <div id="thisProdColor" style="margin-bottom: 16px;">
                    <div class="preloader-wrapper big active" style="display:block;margin:0px auto;"> <div class="spinner-layer spinner-blue-only"> <div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div> </div><div class="circle-clipper right"><div class="circle"></div></div></div></div>
                </div>
                <script>
                    $(document).ready(function(){
                         $("#thisProdColor .colorBox").click(function(index){
                             console.log(index) 
                         })
                    });
                </script>
                <div class="row">
                    <div class="col-12">
                        <p style="margin: 0px;">Select Size: <span style="font-size: 12px;color: #777;display: none;" id="sizeLoading">Loading..</span></p> 
                        <select id="thisProdSize" style="width: 100%;margin-bottom: 16px;" ></select>
                    </div>
                </div>
                
                <p style="margin: 0px;">Quantity:</p>
                <input type="number" id="thisProdQty" style="width: 100%;height: 23px;" min="1">
            </div>
            <div class="col-12">
                <img src="" id="thisProdSizeChart" style="width: 100%; ">
            </div>
        </div>
      </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger" ng-click="addThisProdtoCart()" disabled id="addToCartBtn" style="background-color: #00ACD7 !important;">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="sizeChart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 99999999;">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Size Chart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img style="width: 100%;" id="thisProdSizeChart">
      </div>
    </div>
  </div>
</div>