<div class="container">
    <section class="homeDecor" style="font-family: 'Montserrat Regular',sans-serif;line-height: 34px;">
        <div class="row" style="background-color: #fff;color: #fff;">
            <div class="container text-left" >
                <h1 class="text-center" style="color:#00acd7;">FAQ's (Frequently Asked Questions)</h1>
            </div>
        </div>
        <hr style="margin-top: 0px;">
        <p style="font-weight: bold;margin: 0px;">Order/Shipping Questions</p>
        <ul class="stepper linear" style="margin: 0px;padding: 0px;">
          <li class="completed" style="padding: 0px 30px;">
            <a style="width: auto;padding: 5px;    text-align: left;">
              <span class="label" style="margin: -3px;white-space: normal;">When will my order be delivered?</span>
            </a>
              <div class="step-content grey lighten-3" style="padding: 20px;">
                  <p>Shipping times will vary by region. Please expect slight delays due to COVID-19.</p>
                  <table class="table" style="font-family: 'Montserrat Regular',sans-serif;margin: 0px;">
                      <thead class="black white-text">
                        <tr>
                          <th scope="col">REGION</th>
                          <th scope="col">TIME</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><i class="fab fa-canadian-maple-leaf"></i> CANADA</th>
                          <td>2 - 6 Business Days </td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fas fa-flag-usa"></i> USA</th>
                            <td>2 - 10 Business Days </td>
                        </tr>
                        <tr>
                          <th scope="row"><i class="fas fa-globe-africa"></i> Everywhere else</th>
                            <td>7 - 15 Business Days </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <hr>
          </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">Can I ship to an international address?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Yes.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How will you ship my order?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Your order will be shipped via tracked parcel through Canada Post.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">What is the exchange/return policy?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Please refer to our return policy <a ui-sref="return" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">here</a>.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">Will I receive a tracking number?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Yes, you will be provided with a tracking number once your order has been packed. Please expect a slight delay in your tracking number being uploaded to Canada Post’s website.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">What do I do if I haven’t received my order?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">If you haven’t received your order within the estimated time provided, please contact us at <a href="mailto:info@GetLoudforSickKids.ca" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">info@GetLoudforSickKids.ca</a> with your order details.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">What do I do if my order is defective?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">If you receive a defective or incorrect order, please contact us at <a href="mailto:info@GetLoudforSickKids.ca" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">info@GetLoudforSickKids.ca</a> or <a href="tel:+14164453377" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">416-445-3377</a> and we will arrange for a replacement.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How do I make a donation to SickKids GetLoud? </span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Thank you for your interest in donating to SickKids GetLoud! You can make your tax receiptable donation <a href="https://secure2.convio.net/skf/site/Donation2?df_id=1762&mfc_pref=T&1762.donation=form1" target="_blank" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">here</a>.</p>
                    </div>
                <hr>
              </li>
        </ul>
        <p style="font-weight: bold;margin: 30px 0px 0px 0px;">GetLoud Fundraising Rewards</p>
        <ul class="stepper linear" style="margin: 0px;padding: 0px;">
          <li class="completed" style="padding: 0px 30px;">
            <a style="width: auto;padding: 5px;    text-align: left;">
              <span class="label" style="margin: -3px;white-space: normal;">How do I earn fundraising rewards?</span>
            </a>
              <div class="step-content grey lighten-3" style="padding: 20px;">
                  <p>Earn your fundraising rewards by fundraising for GetLoud on your personal page or team page and reaching the below milestones. Rewards are based on average individual fundraising. All funds raised and received by SickKids Foundation by September 30th will count towards your qualification level. Need help? Reach out to us at <a href="tel:+14164453377" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">416-445-3377</a> or <a href="mailto:info@GetLoudforSickKids.ca" style="margin: 0;padding: 0;display: inline-block;width: auto;overflow: visible !important;">info@GetLoudforSickKids.ca</a>.</p>
                  <div class="row">
                    <div class="col-12">
                        <img src="img/info.jpg" style="width: 100%;">
                    </div>
                  </div>
                </div>
                <hr>
          </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How do I redeem my fundraising reward(s)?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Congratulations and thank you for all your fundraising efforts! To redeem your reward(s) please follow the steps below:</p>
                      <ol>
                        <li>Keep an eye on your inbox the week of October 12th for an email with the fundraising reward items you have qualified for and a reward pin code (please note, if multiple participants have registered with one email, all items will be grouped together and sent in one email).</li>
                        <li>Click on the link to the GetLoud Shop provided in the email and login using the provided credentials.</li>
                        <li>Select the items you qualified for (listed in the email), select any sizes if applicable and add to your cart.</li>
                        <li>Check out using the reward pin code found in your email and enter your shipping address.</li>
                        <li>Wait for your exciting delivery to arrive!</li>
                      </ol>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How do fundraising rewards work for teams?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">We recognize that some teams prefer to pool fundraising together. Fundraising rewards are earned based on your personal fundraising, as well as your team fundraising. For example, to earn the $300 reward, your team would need to raise an average of $300 per person. A team of 4 people would need to raise a team total of $1,200 for all team members to earn the $300 fundraising reward item.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How long do I have to order my Fundraising Reward Items?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">You have until November 30, 2020, to redeem your fundraising reward items.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">Can I purchase fundraising reward items?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">No, fundraising reward items can only be redeemed by hitting the associated fundraising levels.</p>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">How do I determine my hoodie size?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">Please refer to our sizing guide here.</p>
                    <div class="row">
                            <div class="col-12">
                                    <img src="img/SIZE-Charts_ADULT_Sheet-HOODIE.jpg" style="    width: 100%;">
                                </div>
                            <div class="col-12">
                                    <img src="img/SIZE-Charts_YOUTH_Sheet-HOODIE.jpg" style="    width: 100%;">
                                </div>
                          </div>
                    </div>
                <hr>
              </li>
            <li class="completed" style="padding: 0px 30px;">
                <a style="width: auto;padding: 5px;    text-align: left;">
                  <span class="label" style="margin: -3px;white-space: normal;">Do I have to pay for shipping?</span>
                </a>
                  <div class="step-content grey lighten-3" style="width: 100%;padding: 20px;">
                      <p style="margin: 0px;">No, shipping is included!</p>
                    </div>
                <hr>
              </li>
            
        </ul>
        
    </section>
</div>
