<div class="container mt-5 ng-scope">
  <!--Section: Content-->
  <section class="dark-grey-text">
    <h3 class="font-weight-bold mb-5 text-center">My Orders</h3>
    <!-- Shopping Cart table -->
    <div class="table-responsive mb-3">
      <table class="table product-table mb-0">
        <!-- Table head -->
        <thead class="mdb-color lighten-5">
          <tr>
            <th>Index</th>
            <th class="font-weight-bold">
              <strong>Order #</strong>
            </th>
            <th class="font-weight-bold">
              <strong>Submit Date</strong>
            </th>
            <th style="text-align: right;">Order Info</th>
          </tr>
        </thead>
        <!-- /.Table head -->

        <!-- Table body -->
        <tbody>
          <!-- First row -->
          <tr>
            <td>
              <h5 class="mt-3">
                <strong></strong>1.</strong>
              </h5>
            </td>
            <td>
              <h5 class="mt-3">
                <strong></strong>Labatt-123456</strong>
              </h5>
            </td>
            <td><h5 class="mt-3">
                <strong></strong>Sep 3, 2021</strong>
              </h5></td>
            <td style="text-align: right;">
              <button
                type="button"
                class="btn btn-sm btn-primary labattaBtn-outline"
                data-toggle="tooltip"
                data-placement="top"
                title="Info"
              >
                Info
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <h5 class="mt-3">
                <strong></strong>2.</strong>
              </h5>
            </td>
            <td>
              <h5 class="mt-3">
                <strong></strong>Labatt-456789</strong>
              </h5>
            </td>
            <td><h5 class="mt-3">
                <strong></strong>Sep 3, 2021</strong>
              </h5></td>
            <td style="text-align: right;">
              <button
                type="button"
                class="btn btn-sm btn-primary labattaBtn-outline"
                data-toggle="tooltip"
                data-placement="top"
                title="Info"
              >
                Info
              </button>
            </td>
          </tr>
          <!-- /.First row -->
        </tbody>
        <!-- /.Table body -->
      </table>
    </div>
    <!-- /.Shopping Cart table -->
  </section>
  <!--Section: Content-->
</div>
