<div class="container mt-5 productDetails">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Partners</h3>
    <div class="partnerList">
      <div class="partnerTag selectedPartner">
        <img
          src="https://www.clipartmax.com/png/full/9-99085_2018-boston-pizza-hockey-school-boston-pizza.png"
        />
        Boston Pizza
      </div>
      <div class="partnerTag">
        <img
          src="https://www.leaderssl.at/assets/getwildcard_engine/partners/partnership_logo-c0959042f9db394cee51cea5296a69413e00da779c1dc1097885a72277fd0c52.png"
        />
        Partner 2
      </div>
      <div class="partnerTag">
        <img
          src="https://www.leaderssl.at/assets/getwildcard_engine/partners/partnership_logo-c0959042f9db394cee51cea5296a69413e00da779c1dc1097885a72277fd0c52.png"
        />
        Partner 3
      </div>
    </div>

    <hr />
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit fugit, error amet
      numquam iure provident voluptate esse quasi nostrum quisquam eum porro a
      pariatur veniam.
    </p>
    <!-- Grid row -->

    <div class="row">
      <!-- Grid column -->
      <div
        class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch text-center"
        ui-sref="product-detail"
      >
        <!-- Card -->
        <div class="card align-items-center z-depth-2">
          <!-- Card image -->
          <div class="view overlay">
            <img
              src="img/BostonPizza-Budweiser-Hoodie.jpeg"
              class="card-img-top"
              alt=""
            />
          </div>
          <!-- Card image -->
          <!-- Card content -->
          <div class="card-body text-center">
            <!-- Category & Title -->
            <h5 class="mb-3">
              <a href="" class="dark-grey-text">BostonPizza Budweiser Hoodie</a>
            </h5>
            <h5 class="font-weight-bold blue-text mb-0">
              <strong>20$</strong>
            </h5>
          </div>
          <!-- Card content -->
        </div>
        <!-- Card -->
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!--Section: Content-->
</div>
