<div class="container">
    <section class="homeDecor" style="font-family: 'Montserrat Regular',sans-serif;line-height: 30px;">
        <div class="row" style="background-color: #fff;color: #fff;">
            <div class="container text-left" >
                <h1 class="text-center" style="color:#00acd7;">Privacy Policy</h1>
            </div>
        </div>
        <hr style="margin-top: 0px;">
        <p>SickKids Foundation Privacy Policy</p>
        <p style="font-weight: bold;">Guiding Principles</p>
        <p>The Hospital For Sick Children Foundation (the "Foundation") is committed to protecting your privacy. We value your trust and recognize that maintaining this trust requires that we be open and accountable in our treatment of the Personal Information that you choose to share with us. We do not trade, rent or sell the names of our valued supporters.</p>
        
        <p>The following principles reflect our pledge to safeguard your Personal Information pursuant to this Privacy Policy.</p>
        <ol style="margin: 0 15px;padding: 0;">
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We are open about our privacy practices.</p>
                <p>We make our practices relating to the management of Personal Information available to you by posting this Policy on our websites. You may request a print version of our Privacy Policy by contacting the Privacy Officer at The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:privacy.officer@sickkidsfoundation.com">privacy.officer@sickkidsfoundation.com</a></p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We are accountable for your Personal Information.</p>
                <p>"Personal Information" is any information that can be used to identify a specific individual. This information includes whether an individual has donated to SickKids Foundation, how much has been donated and an individual's private contact information. Business contact information and certain publicly available information, such as names, addresses and telephone numbers that are published in telephone directories, are not considered personal information. We keep the Personal Information that you provide to us in strict confidence.</p>
                <p>Our employees sign confidentiality agreements and safeguards are in place to ensure that the information is not accessed, disclosed or shared more widely than is necessary to achieve the purpose for which it was gathered. We also take measures to ensure the integrity of this information is maintained and to prevent its being lost or destroyed. Individuals may access their Personal Information at any time to ensure that it is correct and current.</p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We safeguard your Personal Information.</p>
                <p>Personal Information is protected with security safeguards appropriate to the sensitivity of the information. We use password protocols and secure websites to protect Personal Information we receive when an online donation is made. Our software is routinely updated to maximize protection of such information.</p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We collect, use and disclose Personal Information for the purposes that we identify to you.</p>
                <p>We may collect information from you in the following ways:</p>
                <ul style="margin: 0 15px;padding: 0;">
                    <li style="margin: 0;padding: 0">
                        <p>Information that you provide to us;</p>
                    </li>
                    <li style="margin: 0;padding: 0">
                        <p>Information we collect about you from our interactions with you (for example, when you use our website or other technology); and</p>
                    </li>
                    <li style="margin: 0;padding: 0">
                        <p>Information we obtain from third-party sources.</p>
                    </li>
                </ul>
                <p>When the Foundation collects Personal Information directly from individuals, the Foundation identifies the purposes for which Personal Information is collected at or before the time of collection. These purposes include: fundraising, the administration of the donations, providing information about the activities of the Foundation and The Hospital For Sick Children, compliance with legal and regulatory requirements and to ask for support in our mission to improve children's health.</p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We obtain your consent to collect, use or disclose your Personal Information.</p>
                <p>We collect, use or disclose your Personal Information with your permission. Your permission may be expressed orally, in writing or may be implied, and you may provide it to us or a third party orally, electronically or in writing. You may limit or opt-out of future contact by the Foundation by contacting us at <a href="mailto:donor.inquiries@sickkidsfoundation.com">donor.inquiries@sickkidsfoundation.com</a></p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We limit the collection of your Personal Information.</p>
                <p>We limit the collection of Personal Information to that which is necessary for the purposes identified. Personal Information will be collected only by fair and lawful means.</p>
            </li>
            <li style="margin: 0;padding: 0">
                <p style="font-weight: bold;">We limit the use, disclosure and retention of Personal Information.</p>
                <p>Personal Information will not be used or disclosed for purposes other than those for which it was collected, except with consent or as required by law. Personal Information will be retained only as long as necessary for the fulfillment of those purposes. The Foundation does not trade, rent or sell any Personal Information to third parties.</p>
                <p>We only disclose your information to the following persons:</p>
                <ul style="margin: 0 15px;padding: 0;">
                    <li style="margin: 0;padding: 0">
                        <p>The Hospital For Sick Children, on an as needed basis;</p>
                    </li>
                    <li style="margin: 0;padding: 0">
                        <p>certain service providers that conduct activities on our behalf (as described below);</p>
                    </li>
                    <li style="margin: 0;padding: 0">
                        <p>other registered charities when we conduct joint fundraising activities with them;</p>
                    </li>
                    <li style="margin: 0;padding: 0">
                        <p>law enforcement or Canada Revenue Agency officials if it relates to a criminal investigation, alleged illegal activity, or as required by law; or</p>
                    </li>
                    <li>
                        <p>other persons, with your consent.</p>
                    </li>
                </ul>
                <p>Where we choose to have certain service providers conduct activities on our behalf (such as some fundraising and processing services), we select the service providers very carefully and take all reasonable precautions to ensure that the service provider protects your Personal Information. Some of our service providers are located outside of Canada. As a result, unless there is a legal or regulatory requirement to keep such information in Canada, your Personal Information may be stored or processed outside of Canada and your Personal Information may be accessible to law enforcement and/or regulatory authorities in accordance with the laws of these jurisdictions.</p>
                <p>For example, the Foundation's web pages contain online forms that allow visitors to make a donation. The personal and credit card information provided on these forms is used only to process these donations. Online donations to the Foundation may be processed through third parties. The security and privacy policies of these third parties are available by clicking on the "Privacy Policy" link on the online donation form web pages.</p>
            </li>
            <li>
                <p style="font-weight: bold;">We allow you to access your Personal Information.</p>
                <p>You may ask us whether we hold any Personal Information about you. You can see that information and ensure that it's accurate by contacting the Privacy Officer at The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:privacy.officer@sickkidsfoundation.com">privacy.officer@sickkidsfoundation.com</a></p>
            </li>
            <li>
                <p style="font-weight: bold;">Accuracy of Personal Information.</p>
                <p>We rely on our donors to provide us with accurate Personal Information. To change or modify any Personal Information previously provided to the Foundation, write to us at: Donor Inquiries, The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:donor.inquiries@sickkidsfoundation.com">donor.inquiries@sickkidsfoundation.com</a>.</p>
            </li>
            <li>
                <p style="font-weight: bold;">Compliance with our privacy practices.</p>
                <p>If you are concerned about the Foundation's compliance with our Privacy Policy, please contact the Privacy Officer at The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:privacy.officer@sickkidsfoundation.com">privacy.officer@sickkidsfoundation.com</a> We will investigate all complaints. If a complaint identifies a gap in compliance, we will take appropriate steps to remedy the situation, including changing our policies and practices if necessary.</p>
            </li>
        </ol>
        <p style="font-weight: bold;">Contacting the Foundation.</p>
        <p>Questions, comments and concerns regarding the handling of Personal Information may be directed to the Privacy Officer at The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:privacy.officer@sickkidsfoundation.com">privacy.officer@sickkidsfoundation.com</a></p>
        <p>For public affairs inquiries, please contact the Foundation's Communications Department by sending an email to <a href="mailto:privacy.news.media@sickkidsfoundation.com">news.media@sickkidsfoundation.com</a>.</p>
        <p>If you wish to limit or opt-out of future contact by the Foundation, please write to us at write to us at: Donor Inquiries, The Hospital for Sick Children Foundation, 525 University Avenue, Suite 835, Toronto, ON M5G 2L3 or send an email to <a href="mailto:donor.inquiries@sickkidsfoundation.com">donor.inquiries@sickkidsfoundation.com</a></p>
        
    </section>
</div>
