<div class="container py-5 z-depth-1">
  <!--Section: Content-->
  <section>
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-5 text-center">Product Details</h3>

    <div class="row">
      <div class="col-lg-6">
        <!--Carousel Wrapper-->
        <div
          id="carousel-thumb1"
          class="carousel slide carousel-fade carousel-thumbnails pb-4"
          data-ride="carousel"
        >
          <!--Slides-->
          <div class="carousel-inner text-center text-md-left" role="listbox">
            <div class="carousel-item active">
              <img
                src="../img/Bottle.png"
                alt="Colby Copper Vacuum Bottle With Storage 17oz"
                class="img-fluid"
              />
            </div>
          </div>
          <!--/.Slides-->
        </div>
        <!--/.Carousel Wrapper-->
        <p class="ml-xl-0 ml-4">
          <strong>Decoration area: </strong>3" tall x 1.5" wide
        </p>
        <p class="ml-xl-0 ml-4">
          <strong>Art placement: </strong>On tumbler, - Center of art 1.5" up
          from bottom of powder coate
        </p>
        <p class="ml-xl-0 ml-4">
          <strong>Fulfillment times: </strong>8 to 12 business days
        </p>
      </div>

      <div class="col-lg-6 text-left text-md-left">
        <h2
          class="
            h2-responsive
            text-md-left
            product-name
            font-weight-bold
            dark-grey-text
            mb-1
            ml-xl-0 ml-4
          "
        >
          Colby Copper Vacuum Bottle With Storage 17oz
        </h2>

        <h3 class="h3-responsive text-md-left ml-xl-0 ml-4">
          <span class="red-text font-weight-bold" style="font-size: 18px">
            <strong>$20</strong>
          </span>
        </h3>
        <hr />
        <div class="mt-3">
          <p class="grey-text">Choose your color</p>
          <div class="row text-md-left">
            <div class="col-md-4 col-12">
              <div class="form-group">
                <input
                  class="form-check-input"
                  name="group100"
                  type="radio"
                  id="radioWhite"
                  checked="checked"
                />
                <label for="radioWhite" class="form-check-label dark-grey-text"
                  >White</label
                >
              </div>
            </div>
            <div class="col-md-4 col-12">
              <div class="form-group">
                <input
                  class="form-check-input"
                  name="group100"
                  type="radio"
                  id="radioBlack"
                />
                <label for="radioBlack" class="form-check-label dark-grey-text"
                  >Black</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 mb-4">
          <div class="col-md-12 text-md-left text-md-right">
            <button
              class="btn btn-primary labattaBtn-outline btn-block"
              ui-sref="cart"
            >
              <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> Add to
              cart
            </button>
          </div>
        </div>

        <div class="font-weight-normal">
          <p class="ml-xl-0 ml-4">
            Durable, double-wall stainless steel vacuum construction with copper
            insulation, which allows your beverage to stay cold for 48 hours and
            hot for at least 12 hours. The construction also prevents
            condensation on the outside of the bottle. On-trend, durable powder
            coating. Screw-on metal lid with comfort soft handling loop. Bottle
            features a 3 oz. removable rubberized base for storage and is
            anti-slip. Fits most standard car cup holders. 17oz. Decoration is
            done by laser etching and reveals the silver coating under the
            powder coated paint for a nice silver like imprint.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!--Section: Content-->
</div>
