<div class="container mt-5 productDetails">
  <!--Section: Content-->
  <section class="dark-grey-text text-center">
    <!-- Section heading -->
    <h3 class="font-weight-bold mb-4 pb-2">Our bestsellers</h3>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit fugit, error amet
      numquam iure provident voluptate esse quasi nostrum quisquam eum porro a
      pariatur veniam.
    </p>

    <!-- Grid row -->
    <div class="row" id="productsList"></div>
    <!-- Grid row -->
  </section>
  <!--Section: Content-->
</div>
<script type="text/javascript" src="js/products.js"></script>
