<div class="container">
    <section class="homeDecor" style="font-family: 'Montserrat Regular',sans-serif;line-height: 34px;">
        <div class="row" style="background-color: #fff;color: #fff;">
            <div class="container text-left" >
                <h1 class="text-center" style="color:#00acd7;">Return Policy</h1>
            </div>
        </div>
        <hr style="margin-top: 0px;">
        <p>SickKids GetLoud Shop Return Policy</p>
        <p>We want to ensure you're happy and you receive nothing but quality products from the SickKids GetLoud Shop.</p>
        <p>If your item arrives damaged or defective, or if you received an incorrect product, size or colour, please do not hesitate to contact us within 30 days of receipt and we will gladly arrange to have the item replaced. Please contact us at 416-445-3377 or email us at <a href="mailto:info@GetLoudforSickKids.ca">info@GetLoudforSickKids.ca</a> and we’ll get back to you within 24 hours with instructions on arranging your replacement.</p>
        <p>Please be sure to include your order number, order details and pictures if possible and we’ll do our best to make the returns process easy.</p>
        
        <p>Please note that we do not offer returns or exchanges in the case of ordering the wrong size or product – please refer to our size chart when ordering</p>
 
        
    </section>
</div>
