<div class="container">
  <section
    class="homeDecor"
    style="font-family: 'Montserrat Regular', sans-serif; line-height: 34px"
  >
    <div class="row" style="background-color: #fff; color: #fff">
      <div class="container text-left">
        <h1 class="text-center" style="color: #00acd7; font-size: 25px">
          Fundraising Reward FAQ's (Frequently Asked Questions)
        </h1>
      </div>
    </div>
    <hr style="margin-top: 0px" />
    <ul class="stepper linear" style="margin: 0px; padding: 0px">
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >How do I earn fundraising rewards?</span
          >
        </a>
        <div class="step-content grey lighten-3" style="padding: 20px">
          <p>
            Earn your fundraising rewards by fundraising for GetLoud on your
            personal page or team page and reaching the below milestones.
            Rewards are based on average individual fundraising. All funds
            raised and received by SickKids Foundation by September 30th will
            count towards your qualification level. Need help? Reach out to us
            at
            <a
              href="tel:+14164453377"
              style="
                margin: 0;
                padding: 0;
                display: inline-block;
                width: auto;
                overflow: visible !important;
              "
              >416-445-3377</a
            >
            or
            <a
              href="mailto:info@GetLoudforSickKids.ca"
              style="
                margin: 0;
                padding: 0;
                display: inline-block;
                width: auto;
                overflow: visible !important;
              "
              >info@GetLoudforSickKids.ca</a
            >.
          </p>
          <div class="row">
            <div class="col-12">
              <img src="img/info.jpg" style="width: 100%" />
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >How do I redeem my fundraising reward(s)?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">
            Congratulations and thank you for all your fundraising efforts! To
            redeem your reward(s) please follow the steps below:
          </p>
          <ol>
            <li>
              Keep an eye on your inbox the week of October 12th for an email
              with the fundraising reward items you have qualified for and a
              gift card code (please note, if multiple participants have
              registered with one email, all items will be grouped together and
              sent in one email).
            </li>
            <li>
              Click on the link to the GetLoud Shop provided in the email.
            </li>
            <li>
              Select the items you qualified for (listed in the email), select
              any sizes if applicable and add to your cart.
            </li>
            <li>Check out using the gift card number found in your email.</li>
            <li>Wait for your exciting delivery to arrive!</li>
          </ol>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >How do fundraising rewards work for teams?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">
            We recognize that some teams prefer to pool fundraising together.
            Fundraising rewards are earned based on your personal fundraising,
            as well as your team fundraising. For example, to earn the $300
            reward, your team would need to raise an average of $300 per person.
            A team of 4 people would need to raise a team total of $1,200 for
            all team members to earn the $300 fundraising reward item.
          </p>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >How long do I have to order my Fundraising Reward Items?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">
            You have until November 30, 2020 to redeem your fundraising reward
            items.
          </p>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >Can I purchase fundraising reward items?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">
            No, fundraising reward items can only be redeemed by hitting the
            associated fundraising levels.
          </p>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >How do I determine my hoodie size?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">Please refer to our sizing guide here.</p>
          <div class="row">
            <div class="col-12">
              <img src="img/Gildan-64000.png" style="width: 100%" />
            </div>
            <div class="col-12">
              <img src="img/Gildan-64500B.png" style="width: 100%" />
            </div>
          </div>
        </div>
        <hr />
      </li>
      <li class="completed" style="padding: 0px 30px">
        <a style="width: auto; padding: 5px; text-align: left">
          <span class="label" style="margin: -3px; white-space: normal"
            >Do I have to pay for shipping?</span
          >
        </a>
        <div
          class="step-content grey lighten-3"
          style="width: 100%; padding: 20px"
        >
          <p style="margin: 0px">No, shipping is included!</p>
        </div>
        <hr />
      </li>
    </ul>
  </section>
</div>
