<h1>Reward Customer Order(s)</h1>

<hr style="margin-bottom: 0px" />
<div class="container" style="padding: 0px">
  <div class="row" style="padding: 0px 15px 0px 15px">
    <div
      class="col-3"
      style="border-right: 1px solid #ccc; padding: 0px 0px 0px 0px"
    >
      <div
        class="row"
        style="
          position: relative;
          margin: 0px;
          padding: 15px 10px;
          border-bottom: 1px solid #ccc;
        "
      >
        <div class="col-12" style="padding: 0px 10px">
          <div class="md-form" style="margin: 0; position: relative">
            <input
              type="text"
              id="searchRewardUser"
              class="form-control"
              style="margin: 0; width: 100%"
              onkeyup="searchSickKidsUser()"
            />
            <label for="searchRewardUser">Search User</label>
            <!--button
              class="btn btn-primary"
              style="
                background-color: #00acd7 !important;
                color: #fff;
                margin: 0;
                position: absolute;
                top: 0;
                right: 0;
                padding: 11px 20px;
              "
              onclick="checkRewardCustomer()"
              id="checkRewardCustomer"
              disabled
            >
              <i class="fas fa-bolt"></i>
            </button-->
          </div>
        </div>
      </div>
      <div
        id="rewardUsersList"
        style="
          height: 530px;
          overflow: hidden;
          overflow-x: hidden;
          overflow-y: auto;
        "
      >
        <div
          class="preloader-wrapper big active"
          style="display: block; margin: 20px auto"
        >
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function searchSickKidsUser() {
          var searchValue = $("#searchRewardUser").val();
          $("#rewardUsersList .row").each(function () {
            if (
              $(this).find("p").text().search(new RegExp(searchValue, "i")) < 0
            ) {
              $(this).fadeOut();
            } else {
              $(this).fadeIn();
            }
          });
        }
      </script>
    </div>
    <div class="col-9" style="padding: 0px">
      <div
        class="row"
        style="
          border-bottom: 1px solid #ccc;
          padding: 12.5px;
          margin: 0px !important;
        "
      >
        <div class="col-1">
          <i class="fas fa-user" style="margin: 0px; font-size: 46px"></i>
        </div>
        <div class="col-11" style="position: relative; margin-bottom: 20px">
          <p style="text-align: left; margin: 15px 0px" id="selectedRewardUser">
            No User Selected
          </p>
          <button
            class="btn btn-danger"
            style="
              position: absolute;
              margin: 0;
              padding: 5px 10px;
              top: 8px;
              right: 15px;
            "
            onclick="deleteUser(this)"
            id="thisUserDelete"
            disabled
          >
            <i class="far fa-trash-alt"></i> Delete
          </button>
          <button
            class="btn btn-info"
            style="
              position: absolute;
              margin: 0;
              padding: 5px 10px;
              top: 8px;
              right: 120px;
            "
            onclick="sendRewardEmail(this)"
            id="thisUserEmail"
            disabled
          >
            <i class="far fa-envelope"></i> Send Reward Email
          </button>
        </div>
        <hr />
        <div class="col-6 text-left">
          <p
            id="rewardUsername"
            class="text-left"
            style="margin: 0px; color: #a1a1a1"
          >
            Username: <br /><span
              style="color: #000; padding-top: 10px; display: block"
            ></span>
          </p>
          <br />
          <p
            id="rewardPassword"
            class="text-left"
            style="margin: 0px; color: #a1a1a1"
          >
            Password: <br /><span
              style="color: #000; padding-top: 10px; display: block"
            ></span>
          </p>
          <br />
          <p
            id="rewardCode"
            class="text-left"
            style="
              margin: 0px;
              color: #a1a1a1;
              border: 1px dashed #a1a1a1;
              padding: 5px;
              border-radius: 5px;
            "
          >
            Reward Code: <br /><span
              style="color: #000; padding-top: 10px; display: block"
            ></span>
          </p>
        </div>
        <div class="col-6 text-left">
          <p
            class="text-left"
            style="
              margin: 0px;
              color: #a1a1a1;
              position: relative;
              padding: 8px 0;
              border-bottom: 1px solid #ccc;
              margin-bottom: 0px;
            "
          >
            Reward Products:
            <button
              type="button"
              style="
                position: absolute;
                right: 0;
                margin: 0;
                padding: 2px 15px;
                top: 5px;
              "
              class="btn btn-default btn-sm"
              disabled
              id="thisUserRewardProds"
              data-toggle="modal"
              data-target="#editRewardProducts"
              onclick="editRewardPoints()"
            >
              <i class="far fa-edit"></i> EDIT
            </button>
          </p>
          <ul
            id="rewardProd"
            class="text-left"
            style="margin: 0px; padding: 10px 20px; line-height: 25px"
          ></ul>
        </div>
      </div>
      <div class="container" style="padding: 15px 20px">
        <h6
          style="border-bottom: 1px solid #ccc; padding-bottom: 15px; margin: 0"
        >
          Order(s) List
        </h6>
        <div id="thisRewardUserOrderlist">
          <div class="col-12">
            <p style="text-align: center; margin: 15px 0px" id="selectedUser">
              No User Selected
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function editRewardPoints() {
    $("#editRewardProductsList").html("");
    $("#submitNewRewardItemList").attr(
      "databaseid",
      $("#thisUserDelete").attr("databaseid")
    );
    $("#rewardProd li").each(function () {
      var html = '<li class="list-group-item">';
      html +=
        '<i class="far fa-trash-alt" style="float: right; cursor: pointer" onclick="deleteThisRewardItem(this)"></i>';
      html += $(this).find("b").text();
      html += "    </li>";
      $("#editRewardProductsList").append(html);
    });
  }
  function deleteThisRewardItem(e) {
    $(e).parent().remove();
  }
</script>
